@if $moovui-init {
* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: $text-color;
  font: $font-size/#{$line-height} $font;
  margin: 0;
  padding: ($nav-height + $sp2) 0 $footer-height;
  position: relative;
  min-width: $min-page-width;
  min-height: 100%;
}

img {
  max-width: 100%;
}

#page, .content {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $page-width;
  padding: 0 $page-margin;
}

#page {
  padding: $sp $page-margin;
}

}

.#{$moovui-prefix}section + .#{$moovui-prefix}section {
  margin: $sp2 0 0;
}
