.demo{
  padding: 10px;
  border: 1px solid #ddd;
}
.note{
  color: green;
}
.demo > div{
  margin-right: 10px;
}
.demo h2{
  font-size: 13px;
}
.demo img, .custom{
  width: 50px;
  height: 50px;
  background: green;
}
.group1 img,.group2 img,.group3 img{
  width: 30px;
  height: 30px;
}
.scroll{
  border: 1px solid #ddd;
  padding: 10px;
  width: 122px;
}
.scroll img{
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 300px;
  background: light-green;
}
.clear{
  clear: both;
  float: none!important;
}
.selectdemo{
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 10px;
}

