[data-ur-select-buttons-component] {
  border-radius: 5px;
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  margin: 5px;
}

[data-ur-select-buttons-component='select'] {
  width: 100px;
}

[data-ur-select-buttons-component='increment'] {
  background-color: #33CC00;  
}

[data-ur-select-buttons-component='decrement'] {
  background-color: #CC3300;  
}

[data-ur-select-buttons-component][data-ur-state='disabled'] { opacity: .5 }