.swipe_Bar{
  margin-bottom: 30px
}

.mw_swipe_dots > div {
  display: inline-block;
  background: green;
  width: 4px;
  height: 4px;
  margin: 10px;
}

.mw_swipe_dots > [mw_swipe_toggle_dot="active"] {
  background: black;
}

[data-ur-swipe-toggle-component]{
  padding: 10px;
  border: 1px solid #ddd;
  color: #555;
  display: inline-block;
}
[data-ur-swipe-toggle-component='next']{
  float: right;
}
[data-ur-swipe-toggle-component='prev']{
}
[data-ur-swipe-toggle-component] > *{
  display: inline-block
}
.mw_clear_both{
  clear: both;
}
[data-ur-state]{
  color: blue;
  line-height: 40px;
  padding: 0 5px;
}
[data-ur-state='active']{
  color: purple;
}
[data-ur-touched="true"]{
  background: green;
}

.imageSwitcher{
  height: 150px;
  border: 0;
  position: relative;
  width: 90%;
}

.imageSwitcher > *{
  position: absolute;
  visibility: hidden;
  left: 50%;
  margin-left: -85px;
}

.imageSwitcher > [data-ur-state='active']{
  visibility: visible;
}

img{
  width: 150px;
  height: 150px;
}

/*  amorphos shape swipe toggle */

.shape[data-ur-id="ima_shape"]{
  position: relative;
  width: 90%;
  height: 250px;
}
[data-ur-id="ima_shape"] > * {
  -webkit-transition: all 0.5s ease-in-out;
}
[data-ur-id="ima_shape"] > [data-ur-state="active"]{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -85px;
}
[data-ur-id="ima_shape"] > [data-ur-state="next1"]{
  position: absolute;
  top: 50px;
  left: 0;
  opacity: .5!important;

}
[data-ur-id="ima_shape"] > [data-ur-state="prev1"]{
  position: absolute;
  top: 100px;
  left: 100%;
  margin-left: -170px;
  opacity: .5!important;
}
[data-ur-id="ima_shape"] > [data-ur-state*="next"]{
  opacity: .1;
  position: absolute;
  top: 100px;
  left: 0;
}

[data-ur-id="ima_shape"] > [data-ur-state*="prev"]{
  opacity: .1;
  position: absolute;
  top: 100px;
  left: 100%;
  margin-left: -170px;
}
