<!DOCTYPE html>
<html>
  <head>
    <title>Uranium JS | {{ page.title }}</title>
    <script src="{{site.url}}../src/uranium-pretty.js"></script>
    <script>
    describe = function(){};
    if (location.hostname == "localhost")
      document.write('<script src="{{site.url}}..\/src\/jasmine.js"><\/script>\
                      <script src="{{site.url}}..\/src\/jasmine-html.js"><\/script>\
                      <script src="{{site.url}}..\/src\/jquery-1.7.2.min.js"><\/script>\
                      <script src="{{site.url}}..\/src\/synthetic.js"><\/script>\
                      <script src="{{site.url}}..\/src\/mouse.js"><\/script>\
                      <script src="{{site.url}}..\/src\/browsers.js"><\/script>\
                      <script src="{{site.url}}..\/src\/key.js"><\/script>\
                      <script src="{{site.url}}..\/src\/drag.js"><\/script>');
    </script>
    <script>
    if (location.hostname == "localhost")
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 250;
      
        var jsApiReporter;
        var htmlReporter = new jasmine.HtmlReporter();
          jasmineEnv.addReporter(htmlReporter);

          jasmineEnv.specFilter = function(spec) {
            return htmlReporter.specFilter(spec);
          };

          window.onload = function() { jasmineEnv.execute(); };
        })();
    </script>
    <link rel="stylesheet" type="text/css" href="{{site.url}}../stylesheets/jasmine.css" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}../stylesheets/style_index_yellow.css" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}../stylesheets/base.css" />
  </head>
  
  <body id="{{page.name}}_page">
    <a href="http://github.com/moovweb/uranium"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
    <div id="menu">
      <div id="menuwrap">
        <a href="{{site.url}}../index.html" class="toplinks {{page.home_selected}}"><div class="menuselect">Main</div></a><!-- menuselect-->
        <a href="{{site.url}}../tutorials.html" class="toplinks {{page.tutorials_selected}}"><div class="menuselect">Tutorial</div></a><!-- menuselect-->
        <a href="{{site.url}}../widget_list.html" class="toplinks {{page.widget_selected}}"><div class="menuselect">Widgets</div></a><!-- menuselect-->
        <a href="{{site.url}}../more.html" class="toplinks {{page.more_selected}}"><div class="menuselect">Philosophy</div></a><!-- menuselect-->
        <a href="{{site.url}}../download.html" class="toplinks {{page.download_selected}}"><div class="menuselect">Download</div></a><!-- menuselect-->
      </div><!-- menuwrap-->
    </div><!-- menu-->
    <div id="textbody">
      <div data-ur-set="tabs">
        <div id="adv_btn" data-ur-tabs-component="button" data-ur-tab-id="advancedpage" data-ur-state="disabled">Advanced</div>
        <div id="basic_btn" data-ur-tabs-component="button" data-ur-tab-id="basicpage" data-ur-state="enabled">Basic</div>

        <div class="wrapper">
          <h1> {{page.title}} </h1>
        </div>
        <div class="description_wrapper">
          <h2> Description </h2>
          <div class="description">
            {{page.description}}
          </div>
        </div>
        <div class="wrapper">
          <h2>Attributes</h2>
          <div class="attributes">
            <div class="basic_tab" data-ur-tabs-component="content" data-ur-tab-id="basicpage" data-ur-state="enabled">
              <ul>
                {% for i in page.basic_tab %}
                  <li><code>{{i[0]}}</code> - {{i[1]}}</li>
                {% endfor %}
              </ul>
            </div><!-- basic -->
            <div class="advanced_tab" data-ur-tabs-component="content" data-ur-tab-id="advancedpage">
              <h3> data-ur-set= </h3>
              <code class="set_name">"{{page.name}}"</code>
              <br />
              <h3> data-ur-{{page.name}}-component= </h3>
              
              <div class="components">
                {% for kv in page.advanced_tab %}
                  <h4>{{kv[0]}}</h4>
                  <ul>
                    {% for i in kv[1] %}
                      <code>"{{i[0]}}"</code>
                      <ul>
                      {% for j in i[1] %}
                        <li>
                          {% if j.attributes %}
                            {{j | first | first}}
                            <ul>
                              {% for k in j.attributes %}
                                <li>{{k}}</li>
                              {% endfor %}
                            </ul>
                          {% else %}
                            {{j}}
                          {% endif %}
                        </li>
                      {% endfor %}
                      </ul>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
              {% if page.instance %}
                <h3>Instance</h3>
                <div class="instance">Access the widget via: <code>Ur.Widgets.{{page.name}}["ID"]</code>. The following methods are exposed for each widget:
                  <ul>
                    {% for i in page.instance %}
                      <li><code>{{i[0]}}</code>: {{i[1]}}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      {{content}}

      
    </div>
    <div id="bottombody">
      <div class="wrapper" id="bottomwrap">
        <a href="http://site.moovweb.com/"><div id="moovweblogo"></div></a>
        Uranium &copy; 2012 | <a href="https://github.com/moovweb/uranium">GitHub</a> | <a href="mailto:uranium@moovweb.com">Contact</a>
      </div><!-- wrapper-->
    </div><!-- bottombody end-->
  </body>
</html>