.DS_Store
*.swp
BUILD_VERSION
JENKINS
doc/*.html
.rvmrc
examples/site/_site/*
.sass-cache/
_site
examples/base.css/base.css
examples/base.css/yellow_base.css
examples/site/base.css/base.css
examples/site/base.css/yellow_base.css
examples/site/stylesheets/sass/base.css