body#download_page {
  #version {
    @include border-radius(5px);
    background: #FAFAFA url('resources/largeshade.png') no-repeat left bottom;
    color: #323232;
    float: right;
    padding: 0 12px;
    font: italic 16px "Crete Round", serif;
    text-shadow: none;
    vertical-align: middle;
    &:before {
      content: "";
      font: 30px "Ultra", sans-serif;
      vertical-align: middle;
    }
  }

  #links {
    margin: 20px auto;
    width: 90%;
    a {
      @include background($grad1);
      @include border-radius(5px);
      @include box-align(center);
      @include display-box;
      color: #323232;
      float: left;
      margin-right: 5%;
      min-height: 38px;
      padding: 2% 0;
      text-align: center;
      width: 30%;
      &:last-child {
        float: none;
        margin: 0;
        overflow: hidden;
        width: auto;
      }
    }
    div {
      @include box-flex(1);
    }
    h4 {
      font-size: 1.9em;
    }
    @media screen and (max-width: 479px), screen and (max-height: 479px) {
      h4 {
        display: none;
      }
    }
  }
}
