body#download_page {
  #version_wrapper {
    font-size: 18px;
    float: right;
    &:before {
      content: "";
      font-size: $h1_size;
      vertical-align: middle;
    }
  }
  #version {
    @include border-radius(5px);
    background: #eee;
    color: #323232;
    letter-spacing: 2px;
    padding: 5px 12px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    span {
      letter-spacing: 1px;
    }
  }
  
  #links {
    margin: 20px auto;
    width: 90%;
    a {
      @include background($grad1);
      @include border-radius(5px);
      color: #323232;
      float: left;
      margin-right: 5%;
      padding: 2% 0;
      text-align: center;
      width: 30%;
      &:last-child {
        display: block;
        float: none;
        margin: 0;
        overflow: hidden;
        width: auto;
      }
    }
    h4 {
      font-size: 24px;
    }
    @media screen and (max-width: 479px), screen and (max-height: 479px) {
      h4 {
        display: none;
      }
    }
  }
  #custom_ur {
    display: none;
    small {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  #init {
    margin: 10px 0;
  }
  #result span {
    display: none;
  }
}
