body#zoom_preview_page {
  [data-ur-zoom-preview-component='container'] {
    width: 204px;
    height: 204px;
    overflow: hidden;
    border: 1px solid black;
    position: relative; }
  [data-ur-zoom-preview-component='zoom_image'] {
    position: absolute;
    z-index: 20; }
  [data-ur-zoom-preview-component='button'] {
    z-index: 30;
    border: 1px solid black;
    width: 62px;
    height: 62px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: #bbbbbb; }
  [data-ur-zoom-preview-component='thumbnails'] {
    height: auto;
    > li {
      display: inline-block; } }
  // Un-related CSS
  .normal_image {
    width: 200px;
    height: 200px;
    margin: 2px;
    img {
      width: 200px;
      height: 200px; } } }

body#zoom_preview_examples_page {
  [data-ur-zoom-preview-component='container'] {
    width: 204px;
    height: 204px;
    overflow: hidden;
    border: 1px solid black;
    position: relative; }
  [data-ur-zoom-preview-component='zoom_image'] {
    position: absolute;
    z-index: 20; }
  [data-ur-zoom-preview-component='button'] {
    z-index: 30;
    border: 1px solid black;
    width: 62px;
    height: 62px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: #bbbbbb; }
  [data-ur-zoom-preview-component='thumbnails'] {
    height: auto;
    > li {
      display: inline-block; } }
  // Un-related CSS
  .normal_image {
    width: 200px;
    height: 200px;
    margin: 2px;
    img {
      width: 200px;
      height: 200px; } } }
