.mw_button {
  border-radius: 5px;
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  margin: 5px;
}

.mw_increment {
  background-color: #33CC00;	
}

.mw_decrement {
  background-color: #CC3300;	
}

.disabled { opacity: .5 }