<footer id="footer" class="text-center">
  <p>Brought to you by &hellip;</p>
  <p>
    <a id="moovweblogo" href="http://www.moovweb.com/" target="_blank">
      <img src="/images/moovweblogo.png" alt="Moovweb" />
    </a>
  </p>
  <nav>
    Uranium &copy; 2013 |
    <a href="/about.html">About</a> |
    <a href="https://github.com/moovweb/uranium">GitHub</a> |
    <a href="mailto:uranium@moovweb.com">Contact</a>
  </nav>
</footer>
<script src="/src/jquery-1.9.1.min.js"></script>
<script src="/src/jquery.uranium.js"></script>
<script src="/src/shCore.custom.js"></script>
<script src="/src/shBrushJScript.js"></script>
<script src="/src/shBrushSass.js"></script>
<script src="/src/shBrushNull.js"></script>
<script src="/src/shInit.js"></script>
