<footer id="footer">
  <div><span>Brought to you by&hellip;</span></div>
  <a id="moovweblogo" href="http://www.moovweb.com/" target="_blank"><img src="/images/moovweblogo.png" alt="Moovweb" /></a>
  <nav>
    Uranium &copy; 2013 |
    <a href="/about.html">About</a> |
    <a href="https://github.com/moovweb/uranium">GitHub</a> |
    <a href="mailto:uranium@moovweb.com">Contact</a>
  </nav>
</footer>
<script src="/src/jquery-1.9.1.min.js"></script>
<script src="/src/jquery.uranium.js"></script>
