<a id="github_ribbon" href="https://github.com/moovweb/uranium" target="_blank">Fork me<span class="desktop"> on GitHub</span></a>
<nav id="menu">
  {% capture tmp %}
  <a href="/" id="uraniumlogo" {% if page.home_selected %}class="selected"{% endif %}></a>
  <a href="/" {% if page.home_selected %}class="selected"{% endif %}>Main</a>
  <a href="/widget_list.html" {% if page.widget_selected %}class="selected"{% endif %}>Widgets</a>
  {% endcapture %}
  {{ tmp | strip_newlines | remove: "  " }}
</nav>
