body {
  font-family: sans-serif;
}

h1 {
  background: #93CCEA;
  padding: 5px;
  font-size: 40px;
}

#blurb {
  text-align: center ;
}

#blurb #headline {
  font-size: 50px;
}

#blurb #subline {
  font-style: italic;
}

.example {
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
}

.demonstration {
  margin: 5px;
  float: left;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}

.explanation {
  margin: 5px;
  margin-left: 330px;
  padding: 5px;
  width: 500px;
  border: 1px solid black;
}

.explanation .code {
  border: 1px solid gray;
  border-width: 1px 1px 4px 6px;
  padding: 10px;
  background: #CDCDCD;
}

/* Toggler Styling */
[data-ur-set="toggler"] {
  background: #6495ED;
  color: black;
  padding: 5px; 
  border: 1px solid black; }
  [data-ur-set="toggler"] p {
    margin: 0em; }
  [data-ur-set="toggler"] [data-ur-toggler-component="button"] {
    background: #93CCEA;
    color: black;
    margin: 5px;
    padding: 5px; }
  [data-ur-set="toggler"] [data-ur-toggler-component='content'] {
    display: none; }
  [data-ur-set="toggler"] [data-ur-toggler-component='content'][data-ur-state='enabled'] {
    display: block;
    margin: 5px;
    padding: 5px;
    background: #93CCEA;
    color: black; }


/* Select-List Styling */
[data-ur-set="select-list"] {
    border: 1px solid black;
    background: #6495ED;
    color: black;
    padding: 5px; }
    
[data-ur-set="select-list"] [data-ur-state='enabled'] {
  background: #93CCEA;
}

/* Carousel Styling */
div[data-ur-carousel-component='view_container'] {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
  border: 1px solid black;
  background-color: #6495ED;
}

div[data-ur-carousel-component="scroll_container"] {
  display: block;
}

div[data-ur-carousel-component="scroll_container"] img {
}

div[data-ur-carousel-component="scroll_container"] > * {
  display:inline-block;
  float: left; /* This is important -- otherwise, the carousel can't calculate the accurate total width */
/*  background-color: #3CC;*/
}

div[data-ur-carousel-component="button"] {
    display: inline-block;
}

div[data-ur-carousel-component="button"][data-ur-state="disabled"] {
  opacity: 0.3;
}

