*[data-ur-map-component='canvas'] {
  width: 300px;
  height: 300px;
}

*[data-ur-map-component='description'] {
  display: none;
}

*[data-ur-map-component='description'][data-ur-state='enabled'] {
  display: block;
}


*[data-ur-map-component='address'] {
  display: none;
}

*[data-ur-map-component='icon'] {
  position: absolute;
  visibility: hidden;
}


/* Hidden example */

body.hidden [data-ur-set='map']{
    position: absolute;
    visibility: hidden;
}

body.hidden [data-ur-toggler-component='content'][data-ur-state='enabled'] > [data-ur-set='map']{
    position: relative;
    visibility: visible;
}
