.swipe_Bar{
  margin-bottom: 30px
}
[data-ur-swipe-toggle-component]{
  padding: 10px;
  border: 1px solid #ddd;
  color: #555;
  display: inline-block;
}
[data-ur-swipe-toggle-component='next']{
  float: right;
}
[data-ur-swipe-toggle-component='prev']{
}
[data-ur-swipe-toggle-component] > *{
  display: inline-block
}
.mw_clear_both{
  clear: both;
}
[data-ur-state]{
  color: blue;
}
[data-ur-state='active']{
  color: purple;
}