.test, .description {
  border: 1px solid #555555;
  margin: 20px;
  padding: 0px 10px 10px;
}

.code {
  border: 1px solid gray;
  border-width: 1px 1px 4px 6px;
  padding: 10px;
  background: #E8E8E8;
  color: black;
  margin-left: 10px; 
  font-family: courier;
  text-align: left;}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}