*[data-ur-toggler-component='button'] { 
  opacity: 0.5;
  background-color: #93CCEA;	
}

*[data-ur-toggler-component='content'] {
  display:none;
  background-color: #93CCEA;
}

*[data-ur-toggler-component='button'][data-ur-state='enabled'] {
  opacity: 1.0;
}

*[data-ur-toggler-component='content'][data-ur-state='enabled'] {
  display: block;
}


/* Popup examples */

/* Lazy styling */

div[name='Dialog'] *[data-ur-toggler-component='button'] {
  border-radius: 5px;
  background-color: #6495ED;
  opacity: 1.0;
  padding: 5px;
}

div[name='Dialog'] *[data-ur-toggler-component='content'] {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #AAAAAA;
  width: 500px;
  height: 500px;
  left: 200px;
  bottom: 50px;
  text-align: center;
  padding-top: 30px;
}

div[name='Dialog'] *[data-ur-toggler-component='content'][data-ur-state='enabled'] {
  display: block;
}


/* Proper Styling */

.popup_button, .popup_button > span{
  border-radius: 5px;
  background-color: #6495ED;
  opacity: 1.0;
  padding: 5px;
  display: inline;
  margin: 0px 5px;
}

.popup_content {
  position: absolute;
  border-radius: 5px;
  background-color: #AAAAAA;
/*  width: 500px;
  height: 500px;*/
  left: 200px;
/*  bottom: 50px;*/
  text-align: center;
  padding: 30px;
}

.popup_content[data-ur-state='disabled'] {
  display: none;
  opacity: 0.5;
}

.popup_content[data-ur-state='enabled'] {
  display: inline-block;
  opacity: 1.0;
}

.popup_content[data-ur-state='enabled'] img{
  width: 200px;
  height: 200px;
}


/* multiple example */
[name='MultipleContents'] .buttons {
  background-color: white;
  opacity: 1.0; /* override lazy styling from above */
}

.buttons[data-ur-state="enabled"] span:last-child{
  opacity: 0.5;
}

.buttons[data-ur-state="disabled"] span:first-child{
  opacity: 0.5;
}

[name='MultipleContents'] .popup_content {
  position: relative;
  z-index: -1;
  width: 250px; 
  height: 250px;
  padding: 20px;
}

[name='MultipleContents'] .popup_content img {
  width: 200px;
  height: 200px;
}

[name='MultipleContents'] [data-ur-toggler-component="content"] {
  display: inline-block;
}
