body {
  background: #f5f7f8;
  @include mobile {
    min-width: 0;
    padding: 72px 0 0;
  }
}

@include mobile {
  .copy h3 {
    margin-bottom: $sp;
  }
  .copy ul, .copy ol, dl {
    margin-left: 2em;
  }
}

.see_more_link {
  &:after {
    @include icon-chevron-right;
    margin-left: 4px;
  }
}

.widget {
  margin: auto;
}
