body {
  [data-ur-set='carousel'] {
    background: $color5;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    height: 135px;
    img {
      padding-left: 8px;
    }
  }
  [data-ur-infinite="enabled"] [data-ur-carousel-component="scroll_container"] {
    margin: auto;
    width: 250px;
  }
  [data-ur-carousel-component="scroll_container"] > [data-ur-carousel-component="item"] {
    -webkit-user-drag: none;
    float: left;
    img {
      width: 100px;
      height: 100px;
    }
  }
  [data-ur-carousel-component="button"], [data-ur-carousel-component="count"] {
    color: $color1;
  }
  [data-ur-carousel-component="count"] {
    margin-left: 5px;
  }
  [data-ur-carousel-component="button"] {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 4px;
    &[data-ur-state="disabled"] {
      opacity: 0.3;
    }
  }
  .test [data-ur-set="carousel"] {
    width: 100%;
    max-width: 470px;
  }
  [data-ur-carousel-component="dots"] {
    float: right;
  }
  [data-ur-carousel-component="dot"] {
    @include border-radius(7px);
    background: black;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.8;
    width: 10px;
    height: 10px;
    &[data-ur-state="inactive"] {
      opacity: 0.3;
    }
  }
  div[name='Three'] img {
    width: 62px !important;
    // on iphone without the important, it doesn't work!!
    height: 62px;
  }
}

body#carousel_page{
  [data-ur-carousel-component='view_container'] {
    height: 125px;
  }
}

// On mobile devices, the carousel test examples should fit the entire screen
// I guess we don't have the latest version of Sass, because I couldn't nest
// these
@media screen and (max-width: 640px), screen and (max-height: 479px) {
  .test [data-ur-set="carousel"] {
    width: 100%;
  }
}