.demonstration {
  margin: 5px;
  padding: 0px 10px;
  h3 {
    color: #323232; }
  * {
    &[data-ur-tabs-component='button'] {
      opacity: 0.5;
      background: silver;
      border: 1px solid black;
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px;
      bottom: -1px;
      display: inline-block;
      margin: 0px 5px;
      padding: 5px;
      position: relative; 
    }
    &[data-ur-tabs-component='content'] {
      display: none;
      background: silver; 
    }
    &[data-ur-tabs-component='button'][data-ur-state='enabled'] {
      opacity: 1;
      background: silver;
      border-bottom: 1px solid silver; 
    }
    &[data-ur-tabs-component='content'][data-ur-state='enabled'] {
      display: block;
      background: silver;
      border: 1px solid black;
      padding: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; 
    }
    &[data-ur-set="tabs"][data-ur-tab-id="html"] {
      text-align: left; 
    } 
  }
  #tab_widget [data-ur-set="tabs"] * {
    &[data-ur-tabs-component="button"][data-ur-state="enabled"] {
      background: $color2;
      border-bottom: 1px solid $color2;
    }
    &[data-ur-tabs-component="button"], &[data-ur-tabs-component="content"] {
      background: $color2;
      color: black;
    } 
  } 
}
