#download-page {
  #version {
    color: $slategray;
    font-size: $h3-copy-size;
    margin: $sp2;
  }

  #links {
    margin: $sp5;
    a {
      @include box-shadow(rgba(#000, 0.1) 0 1px 1px);
      @include radius;
      @include transition(0.2s);
      background: #eaeaea;
      border: 1px solid #e0e0e0;
      color: inherit;
      display: block;
      font: inherit;
      padding: $sp4;
      text-align: center;
      &:hover {
        background: #fbfbfb;
      }
    }
    h2 {
      color: $darkblue;
    }
  }
}
