#geocode-page {
  #giant {
    height: 1000px;
    background-color: #ff6600;
    border: 1px solid black;
    margin: 5px;
    padding: 5px; 
  }
  div[name='Three'] img {
    width: 62px !important;
    // on iphone without the important, it doesn't work!!
    height: 62px; 
  } 
}

body#geocode_text_inputs_page, body#geocode_button_page{
  button[value=clickMe]{
    margin-bottom: 10px;
  }
}