#uraniumlogo {
  background: image-url("uraniumlogo.png") no-repeat 0% 50%;
  @include background-size(100% auto);
  display: inline-block;
  vertical-align: middle;
  width: image-width("uraniumlogo.png")/3;
  height: $nav-height;
}

#github_ribbon {
  @include box-shadow(rgba(#000, 0.2) 0 0 6px 2px);
  @include transform(translate(-40px, 30px) rotate(-45deg));
  background: #808080;
  color: #fff;
  font-size: 11px;
  line-height: 27px;
  position: absolute;
  top: 0;
  text-align: center;
  letter-spacing: 0.5px;
  width: 170px;
  height: 28px;
  z-index: 102;
  &:before {
    border: 1px solid #ccc;
    border-width: 1px 0;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 100%;
    height: 22px;
  }
}
.menu_interaction a:hover + ul, .header-links ul:hover {
  display: block;
}

.header-links li {
  float: left;
}

.header-links ul {
  @include box-shadow(rgba(#000, 0.2) 0 1px 4px);
  background: #f9f9f9;
  display: none;
  position: absolute;
  top: $nav-height;
  li {
    display: block;
    float: none;
  }
  li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  a {
    color: #555;
    display: block;
    float: none;
    font-size: 13px;
    margin: 0 !important;
    line-height: inherit;
    padding: 5px 10px;
    min-width: 120px;
    height: auto;
    text-align: left;
    text-transform: none;
    &:hover {
      background: #f0f0f0;
      color: #555;
    }
  }
}
