#header {
  @include mobile {
    min-width: 0;
    height: 66px;
    > .content {
      padding: 0;
    }
  }
}
#uraniumlogo {
  background: image-url("uraniumlogo.png") no-repeat 50% 50%;
  @include background-size(100%);
  display: inline-block;
  vertical-align: middle;
  width: image-width("uraniumlogo.png")/3;
  height: $nav-height;
  @include mobile {
    @include background-size(auto image-height("uraniumlogo.png")/4);
    display: block;
    width: auto;
    height: 36px;
  }
}

#github-ribbon {
  @include box-shadow(rgba(#000, 0.2) 0 0 6px 2px);
  @include transform(translate(-40px, 30px) rotate(-45deg));
  background: #808080;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 27px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 170px;
  height: 28px;
  z-index: 102;
  &:before {
    border: 1px solid #ccc;
    border-width: 1px 0;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 100%;
    height: 22px;
  }
  
  /*
  @include mobile {
    font-size: 12px;
    padding: 0 20px 0 10px;
    top: 6px;
    &:before {
      border: solid 13px transparent;
      border-right-color: #333;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
    }
  }*/
}
.menu_interaction a:hover + ul, .header-links ul:hover {
  display: block;
}

.header-links {
  @include mobile {
    background: #555;
  }
}

.header-links > li {
  float: left;
  @include mobile {
    a {
      display: block;
      float: none;
      font-size: 11px;
      margin: 0 !important;
      line-height: 30px;
      height: 30px;
    }
  }
}

.header-links ul {
  @include box-shadow(rgba(#000, 0.2) 0 1px 4px);
  background: #f9f9f9;
  display: none;
  position: absolute;
  top: $nav-height;
  &:before {
    border: 6px solid transparent;
    border-bottom-color: #f9f9f9;
    content: "";
    margin: -11px 0 0;
    position: absolute;
    left: 10px;
  }
  li {
    display: block;
  }
  li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  a {
    color: #555;
    display: block;
    float: none;
    font-size: 13px;
    margin: 0 !important;
    line-height: inherit;
    padding: 5px 10px;
    min-width: 120px;
    height: auto;
    text-align: left;
    text-transform: none;
    &:hover {
      background: #f0f0f0;
      color: #555;
    }
  }
  @include mobile {
    top: 66px;
    width: 50%;
    &:before {
      margin-left: -6px;
      left: 50%;
    }
  }
}
