#menu {
  margin: 10px 0;
  text-align: center;
  #uraniumlogo {
    background: image-url("uraniumlogo.png") no-repeat 0% 50%;
    @include background-size(100% auto);
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    width: image-width("uraniumlogo.png")/2;
    height: image-height("uraniumlogo.png")/2;
  }
  > a {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .menu_interaction{
    text-align: center;
    position: relative;
    >a{
      color: inherit;
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    >ul{
      display: none;
      list-style: none;
      margin: 1px 0 0;
      padding: 0;
      position: absolute;
      width: 100%;
      margin: 0px;
      z-index: 1;
      li {
        background-color:$color2;
        color: #fffafa;
        &:not(:last-child) {
          border-bottom: 1px solid #555;
        }
        a{
          color: $color1;
          display: block;
          font: 300 14px "Open Sans", Arial, sans-serif;
          padding: 4px 0;
          &:hover {
            color: $color2;
          }
        }
      }
      li:hover {
        @include background(linear-gradient($color1, darken($color1, 5%)));
      }
    }
    &:hover{
      @include background(linear-gradient($color1, darken($color1, 5%)));
      >ul{
        display:block;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 48%;
      width: 0;
      height: 5px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
    }
  }
  /* Its direct children */
  > * {
    @include box-sizing(border-box);
    color: #fffafa;
    border-left: 1px solid #505050;
    border-right: 1px solid black;
    display: inline-block;
    font: 16px "Oswald", sans-serif;
    text-align: center;
    text-decoration: none;
    width: 140px;
    min-height: 32px;
    line-height: 40px;
    &:first-child {
      border: none;
    }
    &:last-child {
      border-right: none;
    }
    &:hover{
      @include background(linear-gradient($color1, darken($color1, 5%)));
      color: #fffafa;
    }
  }
  @media screen and (max-width: 640px), screen and (max-height: 479px) {
    margin: 0px 0px 10px 0px;
    #uraniumlogo{
      background: $color2 image-url("uraniumlogo.png") no-repeat 50% 50%;
      @include background-size(image-width("uraniumlogo.png")/4 image-height("uraniumlogo.png")/4);
      border-top: none;
      color: transparent;
      display: block;
      float: none;
      width: auto;
      min-height: 22px;
      height: 22px;
      margin: 5px 0px 0px 0px;
    }
    > * {
      border-left: none;
    }
    .menu_interaction, > a {
      width: 33%;
      font-size: 10px;
      border-top: 1px solid #505050;
      line-height: 40px;
      border-right: none;
    }
    .menu_interaction {
      >ul{
        padding: 0px;
      }
    }
    .selected {
      @include border-radius(0);
    }
    span {
      display: none;
    }
  }
}

#github_ribbon {
  @include box-shadow(rgba(black, 0.2) 0 0 6px 2px);
  @include transform(translate(-35px, 37px) rotate(-45deg));
  background: gray;
  color: white;
  font-weight: normal;
  font: 12px "Oswald", sans-serif;
  line-height: 27px;
  position: absolute;
  top: 0;
  text-align: center;
  word-spacing: 1px;
  width: 170px;
  height: 28px;
  &:before {
    border: 1px solid #ccc;
    border-width: 1px 0;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 2px;
    width: 100%;
    height: 22px;
  }
  @media screen and (max-width: 640px), screen and (max-height: 479px) {
    @include box-shadow(none);
    @include background(linear-gradient(left, #aaa, gray));
    @include transform(none);
    line-height: 22px;
    padding-right: 8px;
    top: 5px;
    width: 60px;
    height: 22px;
    &:before {
      border: 10px solid;
      border-color: transparent $color2 transparent transparent;
      top: 1px;
      right: 0;
      height: 0;
    }
    .desktop{
      display: none;
    }
  }
}