#home-page {
  #banner {
    background: $slategray;
    color: #bcc2ca;
    font-size: 48px;
    font-weight: 300;
    margin: -$sp2 0 $sp3;
    padding: $sp4 0 $sp3;
    text-align: right;
    small {
      font-size: 20px;
      font-style: italic;
    }
  }
  @include mobile {
    .btnbar .btn {
      min-width: 0;
    }
  }
  #clients {
    margin: 0 0 $sp2;
    text-align: center;
    a {
      display: inline-block;
      margin: 0 $sp $sp2;
    }
    img {
      @include border-radius(5px);
      vertical-align: top;
      @include mobile {
        width: 75px;
      }
    }
  }
}
