#home-page {
  @include mobile {
    .btnbar .btn {
      min-width: 0;
    }
  }
  #clients {
    margin: 0 0 $sp2;
    text-align: center;
    a {
      display: inline-block;
      margin: 0 $sp $sp2;
    }
    img {
      @include border-radius(5px);
      vertical-align: top;
      @include mobile {
        width: 75px;
      }
    }
  }
}
