$text_size: 14px;

$h_space: 10px;

$color1: #323232; // dark gray
$color2: #A8BB19; // gold
$color3: #eee; // gray-ish white
$color4: #9C9FA8; // blue-ish gray

$grad1: linear-gradient(white, #e5e5e5);
