body#select_buttons_page {
  [data-ur-select-buttons-component] {
    border-radius: 5px;
    display: inline-block;
    width: 30px;
    height: 20px;
    text-align: center;
    margin: 5px; }
  [data-ur-select-buttons-component='select'] {
    width: 100px; }
  [data-ur-select-buttons-component='increment'] {
    background-color: #c7e8ad; }
  [data-ur-select-buttons-component='decrement'] {
    background-color: #e8b5ad; }
  [data-ur-select-buttons-component][data-ur-state='disabled'] {
    opacity: 0.5; } }
