body#select_list_page {
  .demonstration {
    #select_list_demonstration {
      *[data-ur-set="select-list"] {
        width: 230px;
        height: 150px;
        background: rgb(250, 250, 250) url("resources/largeshade.png") no-repeat left bottom;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        margin-top: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        select {
          width: 100%; }
        ul {
          padding: 0px;
          li {
            color: #323232;
            font-size: 18px;
            font-family: Rockwell;
            text-align: center;
            list-style: none; } } } } }
  [data-ur-set="select-list"] {
    text-align: center; }
  [data-ur-id="MyUIDSelectList"][data-ur-select-list-component="content"] {
    color: #fafafa;
    text-align: left;
    background: silver;
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    [data-ur-state="enabled"] {
      background-color: $color2 url("resources/largeshade.png") no-repeat left bottom; }
    span {
      margin: 10px;
      padding-left: 10px;
      padding-right: 10px; } } }
