body#styling_page_example {
  [data-ur-set="toggler"] [data-ur-toggler-component] {
    background: transparent;
  }
  [data-ur-set="toggler"][data-ur-set="toggler"][data-ur-id="LazyPopup"] [data-ur-toggler-component="button"] {
    background: gold;
    opacity: 0.5;
  }

  [data-ur-set="toggler"][data-ur-id="LazyPopup"] [data-ur-toggler-component="button"][data-ur-state="enabled"] {
    opacity: 1.0;
  }

  [data-ur-set="toggler"][data-ur-id="ExplicitPopup"] [data-ur-toggler-component="button"] {
    background: gold;
  }

  [data-ur-set="toggler"][data-ur-id="ExplicitPopup"] [data-ur-toggler-component="button"][data-ur-state="disabled"] {
    opacity: 0.5;
  }

  [data-ur-set="toggler"][data-ur-id="ExplicitPopup"] [data-ur-toggler-component="button"][data-ur-state="enabled"] {
    opacity: 1.0;
  }

}

body#grouping_page {
  [data-ur-set="toggler"] {
    background: none;
    border: none;
  }
  [data-ur-toggler-component="button"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: gold url("{{site.url}}resources/largeshade.png") no-repeat left bottom;
    color: black;
    margin: 5px;
    padding: 5px;
    width: 300px;
    border: none;
  }
  [data-ur-toggler-component="content"] {
    display: none;
  }
  [data-ur-toggler-component="content"][data-ur-state="enabled"] {
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 5px;
    padding: 5px;
    background: gold url("{{site.url}}resources/largeshade.png") no-repeat left bottom;
    color: black;
    width: 300px;
    li {
      margin-left: 50px;
      color: black;
    }
  }
  img#flowchart {
    border: 3px dashed rgb(60, 60, 60);
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 479px), screen and (max-height: 479px) {
    img#flowchart {
      width: 100%;
      height: auto;
    }
  }
}

body#who_page {
  [data-ur-set="toggler"] {
    background: none;
    border: none;
    [data-ur-toggler-component="button"] {
      width: 250px;
    }
    [data-ur-toggler-component="content"] {
      display: none;
      width: 250px;
    }
    [data-ur-toggler-component="content"][data-ur-state="enabled"] {
      display: block;
    }
  }
}
