body#toggler_page {
  .example,
  .wrapper {
    [data-ur-set="toggler"]{
      background-color: transparent; 
    }
  }
  [data-ur-set="toggler"] {
    border: none;
    background: silver;
  }
  [data-ur-toggler-component='button'] {
    opacity: 0.5;
    border-radius: 5px;
    background-color: $color2;
    opacity: 1;
    padding: 5px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    color: rgb(50, 50, 50);
    font-size: 18px;
    font-family: Rockwell;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  [data-ur-toggler-component='content'] {
    display: none;
    background: transparent;
    opacity: 1;
    padding: 5px;
    margin: auto;
    color: $color2;
    font-size: 18px;
    font-family: Rockwell;
    text-align: center;
    li {
      color: white;
      text-align: left;
      margin-left: 30px;
      list-style-type: none;
    }
    li[data-ur-set="toggler"] {
      ul[data-ur-toggler-component="content"] {
        margin: 0;
        padding: 0;
      }
      border: none;
      background: transparent;
      color: $color2;
      [data-ur-toggler-component="button"] {
        background: transparent;
        color: $color2;
        padding-top: 0px;
      }
      [data-ur-toggler-component="content"][data-ur-state="enabled"] {
        background: transparent;
        width: 100px;
      }
    }
  }
  [data-ur-toggler-component='button'][data-ur-state='enabled'] {
    opacity: 1;
  }
  [data-ur-toggler-component='content'][data-ur-state='enabled'] {
    display: block;
  }
  .components {
    [data-ur-toggler-component='button'] {
      background: none;
    }
  }
}
