body#documentation_page {
  [data-ur-tabs-component='content'], [data-ur-toggler-component="content"] {
    &[data-ur-state='enabled'] {
      display: block; 
    }
    display: none; 
  }
  [data-ur-set="toggler"] {
    background: #323232;
    border: none; 
  }
  #end_product * {
    &[data-ur-toggler-component='button'] {
      background: $color2;
      &:hover {}
      cursor: hand;
      cursor: pointer;
      width: 200px; 
    }
    &[data-ur-toggler-component='content'] {
      &[data-ur-state='enabled'] {
        display: block;
        background: $color2;
        width: 200px; 
      }
      &[data-ur-state="disabled"] {
        display: none; 
      } 
    } 
  }
  // Page-specific styling for the carousel tutorial
  #carousel_tutorial {
    .final {
      margin: auto;
      width: 400px;
      [data-ur-set="carousel"] {
        height: 140px;
      }
      [data-ur-carousel-component="dots"] {
        float: none;
      }
      [data-ur-carousel-component="item"] {
        padding: 10px;
        border-radius: 5px;
      }
      [data-ur-carousel-component="button"] {
        background: $color2;
        text-align: center;
        width: 48%;
        margin-top: 5px;
        &[data-ur-carousel-button-type="next"] {
          float: right;
        }
      }
    }
  }
}
