body#tutorial_page {
  *[data-ur-tabs-component='content'] {
    &[data-ur-state='enabled'] {
      display: block; }
    display: none; }
  *[data-ur-set="toggler"] {
    background: #323232;
    border: none; }
  #end_product * {
    &[data-ur-toggler-component='button'] {
      background: $color2;
      &:hover {}
      cursor: hand;
      cursor: pointer;
      width: 200px; }
    &[data-ur-toggler-component='content'] {
      &[data-ur-state='enabled'] {
        display: block;
        background: $color2;
        width: 200px; }
      &[data-ur-state="disabled"] {
        display: none; } } } }
