$footer-height: 228px;
@import "moovui/moovui";

@media #{$mobile-query} {
  $moovui-prefix: "m-";
  @import "moovui/moovui";
}

@media #{$not-mobile-query} {
  $moovui-prefix: "d-";
  @import "moovui/moovui";
}

@import "uranium";

@import "base";
@import "header";
@import "footer";

@import "index";
@import "download";
