[data-ur-carousel-component='view_container'] {
  height: 200px;
  width: 200px;
  overflow-x: hidden;
  border: 1px solid black;
  background-color: #9C0;
}

[data-ur-carousel-component="scroll_container"] {
  height: 200px;
  display: table-row;
}

[data-ur-carousel-component="scroll_container"] > * {
  display:inline-block;
  vertical-align: middle;
  background-color: #3CC;
}

/* Non essential styling */

#giant {
  height: 1000px;
  background-color: #F60;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}