<!DOCTYPE html>
<html>
  <head>
    <title>Uranium JS | {{ page.title }}</title>
    {% include head.html %}
  </head>
  
  <body id="{{page.name}}_page">
    <a id="github_ribbon" href="https://github.com/moovweb/uranium" target="_blank">Fork me<span class="desktop"> on GitHub</span></a>
    <nav id="menu">
      {% capture tmp %}
      <a href="/" id="uraniumlogo" {% if page.home_selected %}class="selected"{% endif %}></a>
      <section class='menu_interaction'>
        <a href="/interaction_list.html" {% if page.interaction_selected %}class="selected"{% endif %}>Interactions</a>
        <ul>
          <li><a href="/interactions/carousel.html">Carousel</a></li>
          <li><a href="/interactions/geocode.html">Geolocation</a></li>
          <li><a href="/interactions/input_clear.html">Input Clear</a></li>
          <li><a href="/interactions/tabs.html">Tabs</a></li>
          <li><a href="/interactions/toggler.html">Toggler</a></li>
          <li><a href="/interactions/zoom.html">Zoom</a></li>
        </ul>
      </section>
      <section class="menu_interaction">
        <a href="#" {% if page.documentation_selected %}class="selected"{% endif %}>Training</a>
        <ul>
          <li><a href="/documentation/overview.html">Overview</a></li>
          <li><a href="/documentation/getting_started.html">Basic Use</a></li>
          <li><a href="/documentation/advanced.html">Advanced Use</a></li>
          <li><a href="/documentation/philosophy.html">Philosophy</a></li>
          <li><a href="/documentation/model.html">Model</a></li>
          <li><a href="/documentation/styling.html">Styling</a></li>
          <li><a href="/documentation/grouping.html">Grouping</a></li>
        </ul>
      </section>
      <a href="/download.html">Download</a>
      {% endcapture %}
      {{ tmp | strip_newlines | remove: "  " }}
    </nav>

    <div id="page" class="copy">
    {{content}}
    
    <div class="wrapper">
      <p>
      <a href="{{site.url}}../../interactions/geocode.html"> < Back to Geolocation Widget</a>
      </p>
    </div>
    
    </div>
    {% include footer.html %}
  </body>
</html>