<!DOCTYPE html>
<html>
  <head>
    <title>Uranium JS | {{ page.title }}</title>
    <script src="{{site.url}}../../src/uranium-pretty.js"></script>
    <link rel="stylesheet" type='text/css' href='{{site.url}}../../stylesheets/main.css' />
  </head>
  
  <body id="{{page.name}}_page">
    <a href="http://github.com/moovweb/uranium"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
    <div id="menu">
      <div id="menuwrap">
        <a href="{{site.url}}../../index.html" class="toplinks {{page.home_selected}}"><div class="menuselect">Main</div></a><!-- menuselect-->
        <a href="{{site.url}}../../tutorials.html" class="toplinks {{page.tutorials_selected}}"><div class="menuselect">Tutorial</div></a><!-- menuselect-->
        <a href="{{site.url}}../../widget_list.html" class="toplinks {{page.widget_selected}}"><div class="menuselect">Widgets</div></a><!-- menuselect-->
        <a href="{{site.url}}../../more.html" class="toplinks {{page.more_selected}}"><div class="menuselect">Philosophy</div></a><!-- menuselect-->
        <a href="{{site.url}}../../download.html" class="toplinks {{page.download_selected}}"><div class="menuselect">Download</div></a><!-- menuselect-->
      </div><!-- menuwrap-->
    </div><!-- menu-->
    <div id="page" class="copy">
    {{content}}
    
    <div class="wrapper">
      <p>
      <a href="{{site.url}}/widgets/maps.html">Back to Maps Widget</a>
      </p>
    </div>
    
    </div>
    <div id="bottombody">
      <div class="wrapper" id="bottomwrap">
          <a href="http://site.moovweb.com/"><div id="moovweblogo"></div></a>
          Uranium &copy; 2012 | <a href="https://github.com/moovweb/uranium">GitHub</a> | <a href="mailto:uranium@moovweb.com">Contact</a>
      </div><!-- wrapper-->
    </div><!-- bottombody end-->
  </body>
</html>