@if $moovui-init {
dl {
  font-weight: 300;
  margin: 0 0 $sp2 3em;
  color: #666;
  &:first-child {
    margin-left: 1em;
  }
}

dt {
  display: inline;
  font-weight: 400;
  &:before {
  content: "•";
  font-weight: 300;
  position: absolute;
  margin-left: -1em;
  }
}

dd {
  display: inline;
  margin: 0;
  &:not(:empty):before {
    -webkit-font-smoothing: antialiased;
    content: " ⎯ ";
  }
  &:after {
    content: "";
    display: block;
  }
}
}
