@if $moovui-init {
dl {
  font-weight: 300;
  margin: 0 0 $sp2 3em;
  color: #666;
  &:first-child {
    margin-left: 1em;
  }
}

dt {
  float: left;
  font-weight: 400;
  margin: 0 0 -1px;
  &:before {
  content: "•";
  font-weight: 300;
  position: absolute;
  margin-left: -1em;
  }
}

dd {
  margin: 0;
  &:not(:empty):before {
    -webkit-font-smoothing: antialiased;
    content: "—";
    display: inline-block;
    font-size: 19px;
    margin: -1px 2px 0;
    vertical-align: top;
  }
}
}
