@mixin doc-section {
  @include radius;
  background: #fff;
  border: 2px solid #bdc4cb;
  color: #666;
  margin: 0 0 $sp8;
  padding: $sp2 $sp3;
}

@mixin doc-pane {
  @include clearfix;
  @include radius;
  background: #fff;
  border: 1px solid #bdc4cb;
  font-size: 14px;
  margin: 0 0 $sp2;
  padding: $sp 14px;
  h5 {
    margin: 0;
  }
  .doc-label {
    font-size: 9px;
    line-height: 16px;
    margin: -11px 0 0;
    padding: 0 6px;
  }
  .media {
    float: left;
    margin: 5px $sp2 0 0;
    width: 87px;
    height: 87px;
  }
  p:first-of-type {
    overflow: hidden;
  }
  a {
    float: right;
  }
}

@mixin doc-label {
  background: #bdc4cb;
  color: white;
  float: right;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  margin: -22px -14px 0 0;
  padding: 0 $sp;
  text-transform: uppercase;
}

@mixin doc-links {
  a {
    margin: 0 0 $sp;
    &:hover:before {
      opacity: 1;
    }
    &:before {
      @include icon-right;
      margin: 0 5px -1px 0;
      opacity: 0.5;
    }
    &[target="_blank"]:after {
      @include icon-popup;
      color: #d1d1d1;
      margin-left: 5px;
    }
  }
}

@mixin doc-keywords {
  @include border-radius(0 0 2px 2px);
  background: #f0f4f7;
  border: 1px dotted #bdc4cb;
  border-top: 1px solid #d7d8e0;
  padding: $sp $sp2;
  margin: $sp2 (-$sp2) (-$sp7);
  text-transform: lowercase;
  span {
    color: $darkblue;
    font-size: 10px;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  a {
    background: #fff;
    font-size: 11px;
    font-weight: normal;
    margin: 0 4px;
    padding: 3px 5px;
  }
}

.#{$moovui-prefix}doc-section {
  @include doc-section;
}

.#{$moovui-prefix}doc-pane {
  @include doc-pane;
}

.#{$moovui-prefix}doc-label {
  @include doc-label;
}

.#{$moovui-prefix}doc-links {
  @include doc-links;
}

.#{$moovui-prefix}doc-kw {
  @include doc-keywords;
}
