.#{$moovui-prefix}row {
  @include clearfix;
  &.#{$moovui-prefix}gutters {
    margin-left: -$sp3;
    > * {
      padding-left: $sp3;
    }
  }
  > .#{$moovui-prefix}col-1,
  > .#{$moovui-prefix}col-2,
  > .#{$moovui-prefix}col-3,
  > .#{$moovui-prefix}col-4,
  > .#{$moovui-prefix}col-5,
  > .#{$moovui-prefix}col-6,
  > .#{$moovui-prefix}col-7,
  > .#{$moovui-prefix}col-8,
  > .#{$moovui-prefix}col-9,
  > .#{$moovui-prefix}col-10,
  > .#{$moovui-prefix}col-11,
  > .#{$moovui-prefix}col-12 {
    float: left;
  }
}

.#{$moovui-prefix}col-1 {
  width: 8.333%;
}

.#{$moovui-prefix}col-2 {
  width: 16.666%;
}

.#{$moovui-prefix}col-3 {
  width: 25%;
}

.#{$moovui-prefix}col-4 {
  width: 33.333%;
}

.#{$moovui-prefix}col-5 {
  width: 41.666%;
}

.#{$moovui-prefix}col-6 {
  width: 50%;
}

.#{$moovui-prefix}col-7 {
  width: 58.333%;
}

.#{$moovui-prefix}col-8 {
  width: 66.666%;
}

.#{$moovui-prefix}col-9 {
  width: 75%;
}

.#{$moovui-prefix}col-10 {
  width: 83.333%;
}

.#{$moovui-prefix}col-11 {
  width: 91.666%;
}

.#{$moovui-prefix}col-12 {
  width: 100%;
}
